ruby:
  guides = sitemap.resources.select { |r| r.path.start_with? current_page.data["path"] }

= wrap_layout :layout_js do

  section.guide
    article
      == yield
      
      - for resource in guides
        p
          a href= ("/" + resource.path) == resource.data["title"]
