@import "colors-js";

// .monaco-editor, .monaco-editor-background {
// 	background: #EDF9FA;
// }

/* Cursor */
.monaco-editor .cursor {
	background: $vibrant-dark !important;
}

// Comments
.monaco-editor .mtk8 {
  color: $muted-light;
}

// Key word
.monaco-editor .mtk6 {
  color: $vibrant;
}

// String
.monaco-editor .mtk20 {
  color: $vibrant-dark;
}



.vibrant {
    color: $vibrant;
}

.vibrant-light {
    color: $vibrant-light;
}

.vibrant-dark {
    color: $vibrant-dark;
}

.muted {
    color: $muted;
}

.muted-light {
    color: $muted-light;
}

.muted-dark {
    color: $muted-dark;
}
