@import "colors-js";
$code-grey: #eee;
@font-face {
    font-family: 'Horta';
    src: font-url('horta-webfont.woff2') format('woff2'), font-url('horta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraCode-Regular';
    src: font-url('FiraCode-Regular.woff2') format('woff2'), font-url('FiraCode-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin code-text {
    font-family: "FiraCode-Regular", "Monaco";
}

@mixin heading-text {
    font-family: "Horta", "Arial Narrow Bold";
}

@mixin guide-body {
    font-size: 18px;
    line-height: 1.77778;
    letter-spacing: .0125em
}

@mixin widish-container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}


@mixin layout-container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.vibrant {
    color: $vibrant;
}

.vibrant-light {
    color: $vibrant-light;
}

.vibrant-dark {
    color: $vibrant-dark;
}

.muted {
    color: $muted;
}

.muted-light {
    color: $muted-light;
}

.muted-dark {
    color: $muted-dark;
}

h1 {
    text-transform: capitalize;
}

.byline {
    display: none;
}

h1,
h2,
h3,
h4 {
    @include heading-text;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}


body {
    margin: 0;
    font-family: "Avenir", sans-serif;
    a {
        color: $muted-light;
        &:visited {
            color: $muted-dark;
        }
    }
    >header {
        @include widish-container;
        p {
            display: none
        }

        >nav li {
            @include heading-text;
            display: inline-block;
            font-size: 42px;
            margin: 0 20px;
            &.small {
                display: none;
            }
            &.big {
                display: inline-block;
            }
            a {
                color: $muted;
                text-transform: uppercase;
                &:visited {
                    color: $muted-dark;
                }
                text-decoration: none;
                &.highlighted,
                &:hover {
                    color: $muted-light;
                    text-decoration: underline;
                }
                &.highlighted {
                    cursor: default;
                }
            }
        }
        &.small {
            text-align: left;
            background-size: 67px 100%;
            height: 67px;
            margin-top: 20px;
            img {
                margin-left: 00px;
                margin-top: 20px;
                margin-bottom: -4px;
                width: 122px;
                height: 30px;
            }
            >nav {
                display: inline-block;
                ul {
                    margin-left: 40px;
                }
                li {
                    font-size: 28px;
                    margin: 0 10px;
                }
            }
        }
    }        
    code {
        @include code-text;
        font-size: 14px;
    }
    footer {
        @include widish-container;
        margin-top: 80px;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        flex-flow: row;
        padding-top: 40px;
        padding-bottom: 40px;

        article {
            width: 33%;
        }

        ul {
            padding-left: 0;
            li {
                @include code-text;
                margin: 4px;
                list-style: none;
                a,
                a:visited {
                    text-decoration: none;
                    color: black;
                }
                a:hover {
                    color: #867C01;
                }
            }
        }
    }
}

// This is used in the about page
li.colors span {
    display: inline-block;
    height: 20;
    width: 20;
    &.vibrant {
        background-color: $vibrant;
    }
    &.vibrant-light {
        background-color: $vibrant-light;
    }
    &.vibrant-dark {
        background-color: $vibrant-dark;
    }
    &.muted {
        background-color: $muted;
    }
    &.muted-light {
        background-color: $muted-light;
    }
    &.muted-dark {
        background-color: $muted-dark;
    }
}

body section.guide {
    @include widish-container;

    padding: 0 40px;
    margin-top: 80px;
    margin-bottom: 95px;
    article {
        .header-link {
            color: $muted-light;
            margin-right: 10px;
        }
        h1 {
            font-size: 4em;
            text-transform: uppercase;
        }
        h2 {
            font-size: 2em;
            text-transform: uppercase;
        }
        h3 {
            font-size: 1.5em;
        }
        p {
            margin-bottom: 55px;
            @include guide-body;
            code {
                background: $code-grey;
            }
        }
        ul {
            margin-top: -25px;
            margin-bottom: 40px;
            @include guide-body;
        }
        pre {
            margin-top: -30px;
            margin-bottom: 40px;
            border-left: 2px $code-grey solid;
            padding-left: 24px;
        }
    }
}
