---
title: Danger - About this Site
subtitle: About this Site
layout: layout_js
---

- colors = ["vibrant", "vibrant-light",  "vibrant-dark", "muted", "muted-light", "muted-dark"]
- tweet = JSON.parse(File.read "source/images/js/conway_tweet_oembed.json")
- scss = File.read "source/stylesheets/colors-js.scss"


section
  article 
    markdown:
    
      This site is a really interesting project. It's a static site, but it is often updated
      due to plugins, gems and npm module updates. Any repo associated with Danger [triggers](https://gitlab.com/danger-systems/danger.systems#danger-systems-webhookherokuappcom-1)
      a fresh re-build of the site by releasing a tag.

      ## Colour Scheme
      
      The colour scheme is different on every build. This works by:
    
    ul
      li  Looking at <a href="https://twitter.com/CloudyConway">@CloudyConway</a>'s most recent tweet:
      li
       center
         == tweet["html"]
      
      li Stamping out the logos <a href="https://gitlab.com/danger-systems/danger.systems/blob/master/static/source/images/js/masks/danger-logo-mask-hero@2x.png">via a mask<a/> with <a href="https://www.npmjs.com/package/jimp">jimp</a>.
      li Generating a <a href="https://gitlab.com/danger-systems/danger.systems/blob/master/scripts/palette.js">colour palette</a> from the image, the colour palette uses <a href="https://github.com/akfish/node-vibrant">node-vibrant</a> to pick out 2 main colours, and 4 derivatives from the images.
      li Creating a custom scss variables file, which looks like this:
      li.colors
        code 
          - scss.lines do |l|
            - index = scss.lines.index(l)
            p == l + "<span class=#{colors[index]}></span>"
      li Updating key colours inside SVG files.


    markdown:

      This
