---
title: Danger - Online Reference Editor
subtitle: About this Site
layout: layout_js
---

script src="/javascripts/monaco/min/vs/loader.js"
== stylesheet_link_tag "editor"

section.guide
  article  
    div id="container" style="height:600px;border:1px solid grey"


javascript:
	require.config({ paths: { 'vs': '/javascripts/monaco/min/vs' }});

  // Throwing in Emissions ATM

	require(['vs/editor/editor.main'], function() {
		var editor = monaco.editor.create(document.getElementById('container'), {
			value: [
        '', 
        'import { danger, fail, warn } from "danger"', 
        'import { compact, includes, remove, uniq } from "lodash"', 
        '', 
        '// For now you can ignore these 3 errors, Im not sure why', 
        '// they are being raised. They definitely exist in the node runtime.', 
        'const fs = require("fs") // tslint:disable-line', 
        'const os = require("os") // tslint:disable-line', 
        'const path = require("path") // tslint:disable-line', 
        '', 
        'import * as recurseSync from "recursive-readdir-sync"', 
        'const allFiles = recurseSync("./src")', 
        '', 
        '// Setup', 
        'const pr = danger.github.pr', 
        'const modified = danger.git.modified_files', 
        'const newFiles = danger.git.created_files', 
        'const bodyAndTitle = (pr.body + pr.title).toLowerCase()', 
        '', 
        '// Custom modifiers for people submitting PRs to be able to say "skip this"', 
        'const trivialPR = bodyAndTitle.includes("trivial")', 
        'const acceptedNoTests = bodyAndTitle.includes("skip new tests")', 
        '', 
        'const filesOnly = (file: string) => fs.existsSync(file) && fs.lstatSync(file).isFile()', 
        '', 
        '// Custom subsets of known files', 
        'const modifiedAppFiles = modified.filter(p => includes(p, "lib/")).filter(p => filesOnly(p))', 
        'const modifiedTestFiles = modified.filter(p => includes(p, "__tests__")).filter(p => filesOnly(p))', 
        '', 
        '// Modified or Created can be treated the same a lot of the time', 
        'const touchedFiles = modified.concat(danger.git.created_files).filter(p => filesOnly(p))', 
        'const touchedAppOnlyFiles = touchedFiles.filter(p => includes(p, "src/lib/") && !includes(p, "__tests__"))', 
        'const touchedComponents = touchedFiles.filter(p => includes(p, "src/lib/components") && !includes(p, "__tests__"))', 
        '', 
        'const touchedTestFiles = touchedFiles.filter(p => includes(p, "__tests__"))', 
        'const touchedStoryFiles = touchedFiles.filter(p => includes(p, "__stories__"))', 
        '', 
        '// Rules', 
        '', 
        '// When there are app-changes and its not a PR marked as trivial, expect', 
        '// there to be CHANGELOG changes.', 
        'const changelogChanges = includes(modified, "CHANGELOG.md")', 
        'if (modifiedAppFiles.length > 0 && !trivialPR && !changelogChanges) {', 
        '  fail("No CHANGELOG added.")', 
        '}', 
        '', 
        '// No PR is too small to warrant a paragraph or two of summary', 
        'if (pr.body.length === 0) {', 
        '  fail("Please add a description to your PR.")', 
        '}', 
        '', 
        '// Warn if there are changes to package.json without changes to yarn.lock.', 
        'const packageChanged = includes(modified, "package.json")', 
        'const lockfileChanged = includes(modified, "yarn.lock")', 
        'if (packageChanged && !lockfileChanged) {', 
        '  const message = "Changes were made to package.json, but not to yarn.lock"', 
        '  const idea = "Perhaps you need to run `yarn install`?"', 
        '  warn(`${message} - <i>${idea}</i>`)', 
        '}', 
        '', 
        '// Always ensure we assign someone, so that our Slackbot can do its work correctly', 
        'if (pr.assignee === null) {', 
        '  const method = pr.title.includes("WIP") ? warn : fail', 
        '  method("Please assign someone to merge this PR, and optionally include people who should review.")', 
        '}', 
        '', 
        '// Check that every file touched has a corresponding test file', 
        'const correspondingTestsForAppFiles = touchedAppOnlyFiles.map(f => {', 
        '  const newPath = path.dirname(f)', 
        '  const name = path.basename(f).replace(".ts", "-tests.ts")', 
        '  return `${newPath}/__tests__/${name}`', 
        '})', 
        '', 
        '// New app files should get new test files', 
        '// Allow warning instead of failing if you say "Skip New Tests" inside the body, make it explicit.', 
        'const testFilesThatDontExist = correspondingTestsForAppFiles', 
        '                                 .filter(f => !f.includes("index-tests.tsx")) // skip indexes', 
        '                                 .filter(f => !fs.existsSync(f))', 
        '', 
        'if (testFilesThatDontExist.length > 0) {', 
        '  const callout = acceptedNoTests ? warn : fail', 
        '  const output = `Missing Test Files:', 
        '', 
        '${testFilesThatDontExist.map(f => "- ${f}").join("")}', 
        '', 
        'If these files are supposed to not exist, please update your PR body to include "Skip New Tests".`', 
        '  callout(output)', 
        '}', 
        '', 
        '// A component should have a corresponding story reference, so that were consistent', 
        '// with how the web create their components', 
        '', 
        'const reactComponentForPath = (filePath) => {', 
        '  const content = fs.readFileSync(filePath).toString()', 
        '  const match = content.match(/class (.*) extends React.Component/)', 
        '  if (!match || match.length === 0) { return null }', 
        '  return match[1]', 
        '}', 
        '', 
        '// Start with a full list of all Components, then look', 
        '// through all story files removing them from the list if found.', 
        '// If any are left, leave a warning.', 
        'let componentsForFiles = uniq(compact(touchedComponents.map(reactComponentForPath)))', 
        'const storyFiles = allFiles.filter(f => f.includes("__stories__/") && f.includes(".story."))', 
        '', 
        'storyFiles.forEach(story => {', 
        '  const content = fs.readFileSync(story, "utf8")', 
        '  componentsForFiles.forEach(component => {', 
        '    if (content.includes(component)) {', 
        '      componentsForFiles = componentsForFiles.filter(f => f !== component)', 
        '    }', 
        '  })', 
        '})', 
        '', 
        'if (componentsForFiles.length) {', 
        '  const components = componentsForFiles.map(c => `- ${c}`).join("")', 
        '  warn(`Could not find stories using these components:', 
        '', 
        '${components}', 
        '', 
        '`)', 
        '}', 
        ''].join('\n'),
		language: 'typescript', 
		});
    
    xhr('/js/docs_generate/danger.d.ts').then(function(r) {
      var danger = r.responseText.replace(/import \* as/, "// import * as");
      monaco.languages.typescript.typescriptDefaults.addExtraLib(danger, "danger.d.ts")
    })

    monaco.languages.typescript.javascriptDefaults.setCompilerOptions({
      target: monaco.languages.typescript.ScriptTarget.ES6,
      allowNonTsExtensions: true
    })
	});

	function xhr(url) {
		var req = null;
		return new monaco.Promise(function(c,e,p) {
			req = new XMLHttpRequest();
			req.onreadystatechange = function () {
				if (req._canceled) { return; }

				if (req.readyState === 4) {
					if ((req.status >= 200 && req.status < 300) || req.status === 1223) {
						c(req);
					} else {
						e(req);
					}
					req.onreadystatechange = function () { };
				} else {
					p(req);
				}
			};

			req.open("GET", url, true );
			req.responseType = "";

			req.send(null);
		}, function () {
			req._canceled = true;
			req.abort();
		});
	}

