---
layout: layout_js
---
== javascript_include_tag  "https://code.jquery.com/jquery-3.1.0.min.js"

css:
  section {
    max-width:1040px;
    padding: 20px;
    margin: 0 auto;
  }

  .split {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
  }

  @media screen and (max-width: 749px) {
    .split {
      flex-direction: column-reverse;
    }
  }

  article {
    flex: 1;
  }

  img#header { 
    max-width:600px;
    width: 100%;
    max-height: 191px;
    margin: 80px auto;
  }

  .fifty {
    flex: 2;
    display:inline-block;
  }

  .seventy {
    width: 70%;
    max-width: 70%;
    display:inline-block;
  }

  .thirty {
    width: 30%;
    display:inline-block;
  }

  .svg {
    width: 100%
  }

  .code_chunk {
    max-width: 100%;
    overflow-y: scroll;
  }

.homepage
  section
    article
      center
        img#header src="/images/js/danger-logo-hero@2x.png"
    .split
      article.fifty
        h2.vibrant What is Danger JS?

        markdown:
          Danger runs during your CI process, and gives teams the chance to automate common code review chores.

          This provides another logical step in your build, through this Danger can help lint your rote tasks in daily code review.

          You can use Danger to codify your teams norms. Leaving humans to think about harder problems.

          This happens by Danger leaving messages inside your PRs based on rules that you create with JavaScript or TypeScript.

          Over time, as rules are adhered to, the message is amended to reflect the current state of the code review.
      
      article.fifty
        a href="/images/danger-screenshot.png"
          img src="/images/danger-screenshot.png" style="max-width:100%; margin-top: 90px;"

  section
    article
      h3.muted-dark before
      img.svg src="/images/js/before.svg"

      h3.muted-dark after
      img.svg src="/images/js/after.svg"


  - example_data = YAML.load(File.read "source/js/examples.js.yml")

  section
    article
      h3.vibrant What does this Look like?

  section.examples
    .split
      .thirty
        ul
          - for example in example_data
            li class=example["id"] data-repos=example["repos"]
              a == example["title"]

      .seventy
        .code_chunk
          - for example in example_data
            div class=example["id"]
                == syntax_highlight_js(example["code"]).strip

        ref == ""

javascript:
    $(function() {
      /// Generic-ish Example Highlight Code
      $(".search_info ul li").click(function(event) {
        var $this = $(this)
        $this.parent().children().removeClass("highlighted")
        $this.addClass("highlighted")
        var url = "/plugins/" + $(this).data("key") + "_embed.html"
        $.get(url, function(html) {
            $(".plugins_search_results").empty()
            $(".plugins_search_results").append(html)
        })
      })

      /// Generic-ish Example Highlight Code
      $("section.examples ul li").mouseover(function(event) {
        event.preventDefault()

        // Set the corresponding code
        var klass = $(this).attr("class").replace(" highlighted", "")

        // Set selection
        $(this).parent().children().removeClass("scope_code").removeClass("highlighted")
        $(this).addClass("highlighted")

        var parent = $(this).parents("section")
        // Is this selector for switching existing code samples?
        if ($(this).data("repos")) {
          $("div.code_chunk > div", parent).css("display", "none")
          $("div.code_chunk div." + klass, parent).css("display", "block")
        } else if( $(this).data("url") ) {
          $.get( $(this).data("url"), function(html) {
              $("div.code_chunk", parent).empty()
              $("div.code_chunk", parent).append(html)
          })
        }

         // Figure out the reference text
       var urls = $(this).data("repos") && $(this).data("repos").split(", ")
       var prs = "" //$(this).data("prs").split(", ")
       var toGithubLink = function(ref) {
           var branch = (ref.indexOf("#") > -1) ? ref.split("#")[1] : "master"
           var repo = ref.split("#")[0]
           return "<a href='https://github.com/" + repo + "' target='_blank'>" + repo + "</a>"
        }
        var showArray = function(array) {
          if (!array) { return false }
          if (array.length > 1) { return true }
          if (array.length == 0) { return false }
          return array[0].length > 0
        }

        // Set the reference text under the code for people to inspect
        var text = ""
        if (showArray(urls)) {
          text += "Repos: " + urls.map(toGithubLink).join(", ")
        }
        if (showArray(urls) && showArray(prs)) {
          text += "<br/>"
        }
        if (showArray(prs)) {
          text += "@see_pr "+ prs.map(toGithubLink).join(", ")
        }
        $("ref", parent).html(text)
      })

      // Set the selection to be the first
      $("section.examples ul li:first-child").trigger('mouseenter')
    });
