---
title: Danger - Reference
subtitle: Reference
layout: layout_js
---

ruby:
  reference = JSON.parse(File.read("json_data/js_ref_dsl_docs.json"))
  dsl = reference["children"].find { |c| c["name"].include? "danger.d" }["children"][0]

  interfaces = dsl["children"].select { |c| c["kindString"] == "Interface" }
  danger = interfaces.find { |c| c["name"] == "DangerDSLType" }
  exports = dsl["children"].select { |c| c["kindString"] == "Function" || c["kindString"] == "Variable" }


section.guide
  article  
    p Also, check out <a href='/js/editor.html'>the editor</a>

    p values exported from the Danger module.


    h2 Danger DSL - root exports
    ul
      - for d in danger["children"]
        li 
          p = d["name"]

    h2 values exported from the Danger module.
    ul
      - for export in exports
        li 
          - if export["signatures"]
            p = "// " + export["signatures"][0]["comment"]["shortText"]
          
          - if export["comment"] && export["comment"]["shortText"]
            p = "// " + export["comment"]["shortText"]

          p = export["name"]
          code = export

    h2 Types
    ul
      - for interface in interfaces
        li 
          p = interface["name"]
          code
            pre = interface
